html{
	font-family: sans-serif;
}

body{
	margin: 0;
	padding:0;
}

h1{
	margin: 0;
	text-align: center;
}

h2{
	margin:0;
	text-align: center;
}

.img-flex{
	width:100%;
	display:block;
}

a{
	text-decoration: none;
}

ul{
	margin: 0;
}

dd{
	margin: 0;
}

nav li a{
	color: #0074d9;
	text-decoration: none;
}

a:hover{
	color: #fff;
	background-color: #0074d9;
}


.gutter{
	padding-left: 1rem;
	padding-right: 1rem;
}

.grey{
	background-color: #cccccc;
}

.craters{
	background-color: #efefef;
}

.light{
	background-color: #e2e2e2;
}

p{
margin: 0;
}

@media only screen and (min-width: 25em) {


@media only screen and (min-width: 38em) {


@media only screen and (min-width: 60em) {

