@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
}

.img-flex{
	width:100%;
	display:block;
}

nav ol{
	text-decoration: none;
	padding: 0;
	margin:0;
	padding-bottom: 1rem;
}

nav li a{
	text-decoration: none;
}


h1{
	text-align: center;
	margin-top: 0;
	padding-top: 1em;
	font-size: 24pt;
}

.middle{
	padding-bottom: 20px;
}

.gutter{
	padding-left: 3rem;
	padding-right: 3rem;
}

.grey{
	background-color: #cccccc;
}

h3{
	font-size: 19pt
}

.moons{
	font-size: 24pt;
}

.top{
	font-size: 16pt;
	padding-top: 0;
}

p{
margin-top: 0;
}


@media only screen and (min-width: 25em) {


	nav li{
	display: inline-block;
}

nav{
	margin-left: 5.5em;
}

.gutter{
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

}


