@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
}

.img-flex{
	width:100%;
	display:block;
}

nav ul{
	text-decoration: none;
	padding: 0;
	margin:0;
	display: block;
}

nav li a{
	text-decoration: none;
	color: #0074d9;
font-size: 16pt;
}

li{
	padding: 5px;
	padding-right: 130px;
	margin: 10px
}

.nav:hover{
	background-color: #0074d9;

}

a:hover{
	color: #fff;
}

h1{
	text-align: center;
	margin-top: 0;
	padding-top: 0.5em;
	font-size: 20pt;
}

h2{
	text-align: center;
	background-color: #e2e2e2;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.middle{
	padding-bottom: 20px;
}

.gutter{
	padding-left: 1rem;
	padding-right: 1rem;
}

.grey{
	background-color: #cccccc;
}

.moon{
	padding-top: 1rem;
}

h3{
	font-size: 17pt
}

h4{
	font-size: 16pt;
}

.describe{
	padding-top: 1rem;
}

.moons{
	font-size: 24pt;
}

dd{
	margin: 0;
	font-size: 18px;
}

p{
margin-top: 0;
}


@media only screen and (min-width: 25em) {

li{
	padding: 10px;
}

nav ul{
	padding: none;
	margin-left: 0px;
}

.nav{
	display: inline-block;
}

nav{
	margin-left:20px;
}

.gutter{
	padding-left: 1rem;
	padding-right: 1rem;
}

.craters{
	padding-top: 20px;
}

}


@media only screen and (min-width: 38em) {

h1{
	text-align: left;
	padding-left: 30px;
}

.middle{
	padding-top: 0;
}

li{
	padding: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 0;
	padding-top: 10px;
}

nav{
	margin-left: 70px;
}

nav a{
	float:right;
	top:0;
	margin:0;
	display: inline-block;
}

.center{
	padding-top: 15px;
}

.grey{
	padding-top: 1em;
}

.craters{
	padding-top: 20px;
}

.space{
	padding-top: 1rem;
}

}

@media only screen and (min-width: 60em) {

nav{
	margin-left: 120px;
}

h1{
	margin: 0;
	padding-top: 0;
}

}
